*{
    background-color: var(--page-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --link-hover: #39c439;
    --background:#ffffff;
    --maincolor:#aaaaaa;
    --page-color:#cff1f1;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    flex: 0 2 390px;
}

a{
    text-decoration: none;
}
nav div{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}
.main-nav{
    width: 100%;
    height:20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
}
img{
max-width: 100%;
height: auto;
}

header{
    position: relative;
}
.center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        border: solid 5px var(--link-hover);
        border-radius: 5%;
}

nav{
    display: flex;
    align-items: center;
    padding: 20px 100px;
}

nav ul{
    display: contents;
    flex: 0 2 390px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color:#aaaaaa;
    padding: 5px 0;
    letter-spacing: 1.5px;
    font-size: 2vw;
    text-transform: lowercase;
}

.banner img{
    max-width: 100%;
}

.banner .welcome{
    display: flex;
    background-color: azure;
    left: 0;
    top: 30%;
    padding: 30px;
}

nav ul li a:hover{
    color:var(--link-hover);
    border-top: 5px solid var(--link-hover);
    border-bottom: 5px solid var(--link-hover);
    transition: 0.3s;
}

nav ul li a:hover{
    width: 100%;
}
.button-resume {
  background-color: var(--link-hover);
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: var(--background);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  transition: all 300ms ease-in-out;
  border: 1;
  font-size: 2vw;
  user-select: none;
  -webkit-user-select: none;
  letter-spacing: 1.5px;
  touch-action: manipulation;
  border: 0.2vw solid var(--link-hover);
}

.button-resume:hover {
    background: transparent;
    border-color: var(--link-hover);
    color: var(--link-hover);
}

.welcome {
    top: 35%;
    left: 8%;
}
figure div{
    display: flex;
    justify-content: center;
}
.title{
    color: var(--maincolor);
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
        background-color: var(--link-hover);
        background-image: linear-gradient(45deg, var(--link-hover), #af4261);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }

#port-bar {
    color: var(--background);
    background: var(--link-hover);
    font-size: 4vw;
    width: 100%;
    position: relative;
    top: 0vh;
    font-weight: lighter;
    padding: 0.3vw;
    line-height: 40px;
    text-transform: inherit;
    letter-spacing: 0.5vw;
    text-align: center;
}

article h2{
    display: block;
    font-size: 5.5vw;
    text-transform: uppercase;
    letter-spacing: 1.5vw;
    text-align: center;
    position: relative;
    color: rgb(39, 38, 38);
    padding: 15vw;
    ;
}
#aboutMe p{
    display: inline-block;
    margin: 5vw;
}

.panels-flex{
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 10vh;
}

.project{

}

.project img{
    border: 0.3vh solid var(--maincolor);
    border-radius: 10%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.project img:hover{
    transform: scale(0.8);
    transition: all 300ms ease-in-out;
}

.project p{
    font-size: 2vw;

}
.one{
    width: 70%;
}

.two{
    width: 33%;
}
.three{
    width: 33%;
}
.four{
    width: 33%;
}

footer{
    display: inline-block;
    margin-top: 50%;
    padding: 10vw;
    width: 100%;
    justify-content: space-between;
}
footer h2{
display:inline-block;
font-size: 10vw;
margin-left: 5vw;
margin-right: 5vw;
}

@media screen and (max-width: 992px) {
   .project{
    width: 50%;
   }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    .main-nav {
     width: 75%;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .project{
      width: 100%;
      flex-direction: column;
    }
    footer{
        width:100%;
    }
  }
/* .wrapper{
    width: 100%;
    margin: 5vw auto;
}

.panels-flex{
    display: flex;
    flex-wrap: wrap;
}

.project {
    height: 100px;
    min-width: 390px;
}
.project p{
    display: flex;
}
.project .prime{

}

.aside h2{
    display: flex;
    flex: 1;
    padding: 2vw;
    font-size: 2vw;
}

.project .one{
    flex-grow: 2;
}

.project .two{
   flex-grow: 3;
}
.project .three {

}

.project .four{

} */

/* @media screen and (min-width: 390px) { */
    /* .panels{ */
        /* flex-direction: row; */
        
    /* } */
/* } */
/* @media screen and (min-width: 912px) { */
    /* .panels{ */
        /* flex-direction: row; */
    /* }  */
/* } */

/* CSS */

